*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
article{
    height: 600px;
    width: 600px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
}
.Ball{
    height: 100px;
    width: 100px;
    border: 1px solid;
    background-color: #ba0202;
    position: absolute;
    top:40px;
    left: 40px;
    border-radius: 50%;
    animation-name: Ball;
    animation-duration: 4s;
    /* animation-iteration-count: infinite; */
}
main{
    height: 300px;
    width: 300px;
    border: 1px solid;
}

@keyframes Ball {
    0%{
        left: 40px;
        top: 40px;
        transform: scale(1.2);
    }
    25%{
        left: 460px;
        top: 40px;
        background-color: aqua;
        transform: scale(1,0);
    }
    50%{
       top: 400px;
       left: 460px;
       background-color: black;
       transform: scale(0.5);
    }
    75%{
        left: 40px;
        top: 460px;
        background-color:yellowgreen ;
        transform: scale(2);
    }
    100%{
        top: 40px;
        transform: scale(1);
    }
}