*{
    padding: o;
    margin: 0;
    box-sizing:border-box;
}
.maincont{
    height: 500px;
    width: 500px;
    border: 1px solid;
    display: flex;
   /*  flex-wrap: wrap-reverse; */
    flex-direction:row-reverse;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse; 
}

.maincont div{
    height: 110px;
    width: 110px;
    border: 1px solid;
}