/* *{
    margin: 0;
    border: 0;
    box-sizing: border-box;
} */

.class1{
    height: 350px;
    width: 700px;
    border: 1px solid;
    background-color: rgb(224, 169, 30);
    position: relative;
    top: 100px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: 1;
    mix-blend-mode: color-burn;
}
.class2{
    height: 50px;
    width: 15px;

    position: relative;
    bottom: 380px;
}

.class3{
    height: 50px;
    width: 10px;   
    position: relative;
    left: 130px;
    bottom: 400px;
    background: linear-gradient();
}
.class4{
    height: 50px;
    width: 10px;
    position: relative;
    left: 305px;
    bottom: 500px;
    background: linear-gradient();
}
.class5{
    height: 50px;
    width: 10px;
    position: relative;
    left: 500px;
    bottom: 600px;
    
}